body {
    background-color: #A39F8E;
}

h1{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    background-color: #EDD88C;
}

.ingredients {
    background-color: #D0E9D1;
}

.steps {
    background-color: #B3993E;
}