body {
    background-color: #181544;
}

h1{
    text-align: center;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    background-color: #5b26e7; 
}

.ingredients {
    background-color: #2b67f5;
}

.steps {
    background-color: #d1edff;
}

